{% extends 'custom.html' %}

{% block title %}( - Editor){% endblock %}

{% block contain %}
  <div class="container">
    <form method="post">
      <div class="row">
        <fieldset class="span8 offset1">
          <legend>Feed全体の設定(<a href="/help#config_feed">?</a>)</legend>
          <table class="zebra-striped">
            <tr>
              <th class="red">種別</th>
              <th class="blue">データ</th>
            </tr>
            <tr>
              <td>Feedのタイトル</td>
              <td><input type="text" name="rss_title" value="{{ cf.rss_title|escape }}" /></td>
            </tr>
            <tr>
              <td>Feed元のLink</td>
              <td><input type="text" name="rss_link" value="{{ cf.rss_link|escape }}" /></td>
            </tr>
            <tr>
              <td>Feedの説明(Description)</td>
              <td><input type="text" name="rss_description" value="{{ cf.rss_description|escape }}" /></td>
          </table>
        </fieldset>
      </div>
      <div class="row">
        <fieldset class="span12 offset1">
          <legend>取得するアイテムの設定(<a href="/help#config_item">?</a>)</legend>
          <table class="zebra-striped">
            <tr>
              <th class="red">種別</th>
              <th class="blue">セレクタ</th>
              <th class="green">属性</th>
            </tr>
            <tr>
              <td>
                <label style="float: none;">
                  {% if cf.item_title_enable %}
                  <input type="checkbox" name="item_title_enable" checked /> タイトル(Title)
                  {% else %}
                  <input type="checkbox" name="item_title_enable" /> タイトル(Title)
                  {% endif %}
                </label>
              </td>
              <td>
                {% if cf.item_title_enable %}
                <input type="text" name="item_title_selector" value="{{ cf.item_title_selector|escape }}" />
                {% else %}
                <input type="text" name="item_title_selector" value="{{ cf.item_title_selector|escape }}" readonly />
                {% endif %}
              </td>
              <td>
                {% if cf.item_title_enable %}
                <input type="text" name="item_title_attr" value="{{ cf.item_title_attr|escape }}" />
                {% else %}
                <input type="text" name="item_title_attr" value="{{ cf.item_title_attr|escape }}" readonly/>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <label style="float: none;">
                  {% if cf.item_link_enable %}
                  <input type="checkbox" name="item_link_enable" checked /> リンク(Link)
                  {% else %}
                  <input type="checkbox" name="item_link_enable"> リンク(Link)
                  {% endif %}
                </label>
              </td>
              <td>
                {% if cf.item_link_enable %}
                <input type="text" name="item_link_selector" value="{{ cf.item_link_selector|escape }}" />
                {% else %}
                <input type="text" name="item_link_selector" value="{{ cf.item_link_selector|escape }}" readonly />
                {% endif %}
              </td>
              <td>
                {% if cf.item_link_enable %}
                <input type="text" name="item_link_attr" value="{{ cf.item_link_attr|escape }}" />
                {% else %}
                <input type="text" name="item_link_attr" value="{{ cf.item_link_attr|escape }}" readonly />
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <label style="float: none;">
                  {% if cf.item_description_enable %}
                  <input type="checkbox" name="item_description_enable" checked /> 概要(Description)
                  {% else %}
                  <input type="checkbox" name="item_description_enable" /> 概要(Description)
                  {% endif %}
                </label>
              </td>
              <td>
                {% if cf.item_description_enable %}
                <input type="text" name="item_description_selector" value="{{ cf.item_description_selector|escape }}" />
                {% else %}
                <input type="text" name="item_description_selector" value="{{ cf.item_description_selector|escape }}" readonly />
                {% endif %}
              </td>
              <td>
                {% if cf.item_description_enable %}
                <input type="text" name="item_description_attr" value="{{ cf.item_description_attr|escape }}" />
                {% else %}
                <input type="text" name="item_description_attr" value="{{ cf.item_description_attr|escape }}" readonly />
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <label style="float: none;">
                  {% if cf.item_date_enable %}
                  <input type="checkbox" name="item_date_enable" checked /> 時刻
                  {% else %}
                  <input type="checkbox" name="item_date_enable" /> 時刻
                  {% endif %}
                </label>
              </td>
              <td>
                {% if cf.item_date_enable %}
                <input type="text" name="item_date_selector" value="{{ cf.item_date_selector|escape }}" />
                {% else %}
                <input type="text" name="item_date_selector" value="{{ cf.item_date_selector|escape }}" readonly /> 
                {% endif %}
              </td>
              <td>
                {% if cf.item_date_enable %}
                <input type="text" name="item_date_attr" value="{{ cf.item_date_attr|escape }}" />
                {% else %}
                <input type="text" name="item_date_attr" value="{{ cf.item_date_attr|escape }}" readonly />
                {% endif %}
              </td>
            </tr>
          </table>
        </fieldset>
      </div>
      <div class="row">
        <div class="offset12 span1"><input type="submit" value="Save" /></div>
      </div>
    </form>
  </div>
{% endblock %}
